.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .alert-danger {
    color: #721C24;
    background-color: #F8D7DA;
    border-color: #F5C6CB;
    /* height: 100px; */
    /* width: 100px; */
  }
  .alert-danger button.close {
    color: inherit;
    text-decoration: none;
  }
  .alert-danger button.close:hover {
    color: inherit;
  }
  .alert-danger button.close:focus {
    color: inherit;
    box-shadow: none;
  }
  .alert-danger .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  .alert-danger .close:focus {
    outline: none;
  }
  .alert-danger .close span {
    font-size: 1.5rem;
    line-height: 1;
  }


  /* Soniya css */
  .verified-area {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
}
.verified-area h5 {
    font-size: 21px;
    font-weight: 700;
}
.verified-area h6 {
    font-weight: 500;
    margin: 14px 0 20px;
}
.verified-area button {
    border: none;
    background: none;
    color: #885a05;
    font-size: 18px;
    font-weight: bold;
}
.ok-btn {
    text-align: right;
}